<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurants list and review for you">
    <meta name="theme-color" content="#b7c5c0"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" type="text/css">
    <title>Digiresto</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>
    <header>
        <div class="logo">
            <img src="icons/digiresto-logo.png" alt="DigiResto Logo">
        </div>
        <a id="menu" class="header__menu" tabindex="0" aria-label="Hamburger Navigation">☰</a>
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#/list">Home</a></li>
                <li class="nav__item"><a href="#/like">Favorite</a></li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/syahrindra-dzaky-ramadhan/" target="_blank" rel="noreferrer">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <footer>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Copyright © 2022 DigiResto</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
</body>
</html>